<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.office.calendar.member.mapper.MemberMapper">
	 <!-- id=호출되는 인터페이스 메소드명 / resultTye=반환 자료형/ parameterType=매개변수 타입 -->
	 
	 <cache />
	 
	<select id="isMember" 
	resultType="boolean" 
	parameterType="String">
	
		SELECT 
			COUNT(*) 
		FROM 
			USER_MEMBER 
		WHERE 
			id= #{id}
		
	</select>
	
	
	<!-- insert는 result타입 명시 안함 /parameterType이 내가만든거일경우 패키지 풀네임-->
	<insert id="insertMember" 
	parameterType="MemberDto">
		insert into USER_MEMBER(id,pw,mail,phone) values(#{id},#{pw},#{mail},#{phone})
		<!-- value는 알아서 dto에서 값 찾아옴 (필드명 넣어주면)-->
	</insert>
	
	
	<select id="selectMemberByID"
		resultType="MemberDto"
		parameterType="String" >
			select 
				* 
			from 
				USER_MEMBER 
			where 
				id=#{id}
	</select>
	
</mapper>